.container {
  width: 404px;
  height: 100vh;
  background-color: #fff;
  background-image: url(/background-design.svg);

  .profilePicture {
    height: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 290px;
      width: 290px;
      border-radius: 50%;
    }
  }

  .languageContainer {
    text-align: right;
    padding: 10px 12px;

    select {
      background: #e9e9e9;
      height: 38px;
      width: 84px;
      font-size: 20px;
      color: #8f7cff;
      text-align-last: center;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
}
